<html xmlns:th="http://www.thymeleaf.org">
<html>
<body>
<h2>Spring's form tags example</h2>


<p>UserName: <span th:text="${customer.userName}"></span></p>
<p>Address: <span th:text="${customer.address}"></span></p>
<p>Password: <span th:text="${customer.password}"></span></p>
<p>Confirm Password: <span th:text="${customer.confirmPassword}"></span></p>
<p>Receive Newsletter: <span th:text="${customer.receiveNewsletter}"></span></p>
<p>Favourite Number : <span th:text="${customer.favNumber}"></span></p>
<p>Country: <span th:text="${customer.country}"></span></p>
<p>Java Skills: <span th:text="${customer.javaSkills}"></span></p>
<p>Hidden Value: <span th:text="${customer.secretValue}"></span></p>
<p>Número: <span th:text="${customer.numero}"></span></p>

</body>
</html>
