<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Perfil de Usuario</title>
</head>
<body>
	<form th:action="@{/procesarcaballo}" th:object="${caballoAtributo}" method="post">
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" /><br/><br/>
        
        <label>Edad:</label>
        <input type="number" th:field="*{edad}" /><br/><br/>

        <label>Velocidad Maxima:</label>
        <input type="number" th:field="*{velocidadMaxima}" /><br/><br/>
        
         <label>Numero de triunfos:</label>
        <input type="number" th:field="*{numeroTriunfos}" /><br/><br/>
        
         <label>Experiencia:</label>
        <input type="number" th:field="*{experiencia}" /><br/><br/>
        

        <button type="submit">Enviar</button>
        <button type="reset">Resetear</button>
    </form>
</body>